<dialog id="modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Virus detected!</h3>
    <p class="py-4">Click to install antivirus software</p>
    <div class="modal-action">
      <a
        href="https://youtu.be/dQw4w9WgXcQ?si=FAM5tVWdsJHo3YRZ"
        class="btn btn-accent"
        >Download</a
      >
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
